
<div>
  <h2><%= @listing.title %></h2>
  <div>
    <img src="" alt="">
  </div>
  <div>
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
  </div>
</div>

<div>
  <h2>
    <%= @listing.description %>
    <%= @listing.listing_address %>
    <%= @listing.rating %>
  </h2>
  <div>
    <div>
      Calendar Start
    </div>
    <div>
      Calendar End
    </div>
    <div>
      Booking Placing
    </div>
  </div>
</div>
<p><%= @listing.title %></p>
<p><%= @listing.description %></p>
<p><%= @listing.listing_address %></p>
<p><%= @listing.rating %></p>
<% if @listing.photos.attached?  %>
  <% @listing.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>
<%= link_to "Book this skipper", new_listing_booking_path(@listing) %>
<%= link_to "Edit this listing", edit_listing_path(@listing) %> |
  <%= link_to "Back to listings", listings_path %>

  <%= button_to "Destroy this listing", @listing, method: :delete %>
