<div class="container-listing-show">
  <h2 class="listing-title"><%= @listing.title %></h2>
  <div class="card-grid">
    <div class="card-main-image">
     <%# <img class="main-show-photo" src="https://images.unsplash.com/photo-1692684583465-6230fa0ccb1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt=""> %>
      <%= cl_image_tag @listing.photos.first.key, height: '450px', style: "object-fit: cover" %>
    </div>
    <div class="card-smaller-images">
      <% if @listing.photos.attached?  %>
        <% @listing.photos.last(4).each do |photo| %>
        <%= cl_image_tag photo.key,  style: "object-fit: cover" %>
        <% end %>
      <% end %>
      <%# <img src="https://images.unsplash.com/photo-1692684583465-6230fa0ccb1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt="">
      <img src="https://images.unsplash.com/photo-1692684583465-6230fa0ccb1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt="">
      <img src="https://images.unsplash.com/photo-1692684583465-6230fa0ccb1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt="">
      <img src="https://images.unsplash.com/photo-1692684583465-6230fa0ccb1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt=""> %>
    </div>
  </div>

  <div class="card-booking-details">
    <h2>
      <%= @listing.description %>
      <%= @listing.listing_address %>
      <%= @listing.rating %>
    </h2>
    <div class="calendar-booking-details">
      <div class="calendar-start">
        Calendar Start
      </div>
      <div class="calendar-end">
        Calendar End
      </div>
      <div class="booking-placing">
        Booking Placing
      </div>
    </div>
  </div>
</div>

<p><%= @listing.title %></p>
<p><%= @listing.description %></p>
<p><%= @listing.listing_address %></p>
<p><%= @listing.rating %></p>

<%= link_to "Book this skipper", new_listing_booking_path(@listing) %>
<%= link_to "Edit this listing", edit_listing_path(@listing) %> |
  <%= link_to "Back to listings", listings_path %>

  <%= button_to "Destroy this listing", @listing, method: :delete %>
