<div class="container-listing-show">
  <h2 class="listing-title"><%= @listing.title %></h2>
  <div class="card-grid">
    <div class="card-main-image">
      <% if @listing.photos.attached? %>
      <%= cl_image_tag @listing.photos.first.key, height: '450px', style: "object-fit: cover" %>
      <% end %>
    </div>
    <div class="card-smaller-images">
      <% if @listing.photos.attached?  %>
        <% @listing.photos.last(4).each do |photo| %>
        <%= cl_image_tag photo.key,  style: "object-fit: cover" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card-booking-details">
    <h2>
      <% if @listing.user != current_user%>
      <a class="button-link" href="<%= new_listing_booking_path(@listing) %>">Book this skipper</a>
      <% end %>
      <% if @listing.user == current_user%>
      <a class="button-link" href="<%= edit_listing_path(@listing) %>">Edit this listing</a>
      <% end %>
      <a class="button-link" href="<%= listings_path %>">Back to listings</a>
      <% if @listing.user == current_user %>
      <%= link_to "Destroy this listing", listing_path(@listing), data:{turbo_method: :delete}, class: "button-link destroy-button" %>
      <% end %>
    </h2>
  </div>
</div>
