<div class="container-listing-show">
  <h2 class="listing-title"><%= @listing.title %></h2>
  <div class="card-grid">
    <div class="card-main-image">
     <img class="main-show-photo" src="https://images.unsplash.com/photo-1692684583465-6230fa0ccb1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt="">
    </div>
    <div class="card-smaller-images">
      <div class="div2"><img src="https://images.unsplash.com/photo-1692684583465-6230fa0ccb1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt=""></div>
      <div class="div3"><img src="https://images.unsplash.com/photo-1692684583465-6230fa0ccb1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt=""></div>
      <div class="div4"><img src="https://images.unsplash.com/photo-1692684583465-6230fa0ccb1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt=""></div>
      <div class="div5"><img src="https://images.unsplash.com/photo-1692684583465-6230fa0ccb1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt=""></div>
    </div>
  </div>

  <div class="card-booking-details">
    <h2>
      <%= @listing.description %>
      <%= @listing.listing_address %>
      <%= @listing.rating %>
    </h2>
    <div>
      <div>
        Calendar Start
      </div>
      <div>
        Calendar End
      </div>
      <div>
        Booking Placing
      </div>
    </div>
  </div>
</div>

<p><%= @listing.title %></p>
<p><%= @listing.description %></p>
<p><%= @listing.listing_address %></p>
<p><%= @listing.rating %></p>
<% if @listing.photos.attached?  %>
  <% @listing.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>
<%= link_to "Book this skipper", new_listing_booking_path(@listing) %>
