
<div class="card-listing">
   <% if listing.photos.attached? %>
   <a href="<%= listing_path(listing) %>"><%= cl_image_tag listing.photos.first.key %></a>
    <% else %>
    <img src="cloudinary"/>
    <% end %>
  <div class="card-listing-infos">
    <div>
      <h2><%= listing.title %></h2>
      <p><%= listing.description %></p>
    </div>
    <div class="d-flex">
    <% listing.rating.times do %>
    <h2 class="card-listing-pricing"><i class="fa-solid fa-star"></i></h2>
    <% end %>
    <% (5 - listing.rating).times do %>
    <h2 class="card-listing-pricing"><i class="fa-regular fa-star"></i></h2>
    <% end %>
    </div>
    <% if listing.user.photo.attached? %>
    <%= cl_image_tag listing.user.photo.key, class: "card-listing-user avatar-bordered" %>
    <% else %>
    <img src="cloudinary" class="card-listing-user avatar-bordered" />
    <% end %>
  </div>
</div>
