
<div class="card-listing">
   <% if listing.photos.attached? %>
   <a href="<%= listing_path(listing) %>"><%= cl_image_tag listing.photos.first.key %></a>
    <% else %>
    <img src="cloudinary"/>
    <% end %>
  <div class="card-listing-infos">
    <div>
      <h2><%= listing.title %></h2>
      <p><%= listing.description %></p>
    </div>
    <h2 class="card-listing-pricing">Rating: <%= listing.rating %></h2>
    <% if listing.user.photo.attached? %>
    <%= cl_image_tag listing.user.photo.key, class: "card-listing-user avatar-bordered" %>
    <% else %>
    <img src="cloudinary" class="card-listing-user avatar-bordered" />
    <% end %>
  </div>
</div>
