<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to listings_path, class: "navbar-brand" do %>
  <%= image_tag "logo4.png" %>
  <p id="logoname">FindMySkipper</p>
    <% end %>
    <%= form_with(url: listings_path, method: "get", local: true, class: "search-form-control form-group") do |form| %>
  <%= form.text_field :query, class: "form-control string required", id: "search_query", placeholder: "" %>
  <%= form.button type: "submit", class: "btn btn-flat" do %>
    <i class="fas fa-search"></i> Search
  <% end %>
  <% end %>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
         <li class="nav-item active">
          <%= link_to "My Account", accounts_show_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, style: "object-fit: cover", id: "navbarDropdown", class: "avatar dropdown-toggle", alt: "dropdown menu", data: { bs_toggle: "dropdown"}, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <li class="nav-link" class="dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</li>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Become a Skipper", new_listing_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
