<h2>My Bookings</h1>

<p>Welcome <%= @user.email %></p>

<% current_user.received_bookings.each do |booking| %>
<% if booking.status == "pending" %>
<%= booking.start_date %>
<%= booking.end_date %>
<%= link_to "Accept", accept_path(booking), data: {turbo_method: :patch} %>
<%= link_to "Reject", reject_path(booking), data: {turbo_method: :patch} %>
<% end %>
<% end %>

<div data-controller="toggle">
<% if @past_bookings.any? || @future_bookings.any? %>
<button data-action="click->toggle#fire" class="btn btn-outline-primary">Past bookings</button>
  <button data-action="click->toggle#future" class="btn btn-outline-primary">Upcoming bookings</button>
  <div class="card-grid">
      <div data-toggle-target="togglableElement" class="d-none">
       <tr>
        <th>Listing</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
      <% @past_bookings.each do |booking| %>
      <div class= "card-listing">
    <tr >
      <td><%= booking.listing.title %></td>
      <td><%= booking.start_date %></td>
      <td><%= booking.end_date %></td>
      <td><%= link_to "Edit Booking", edit_booking_path(booking) %></td>
      <td><%= button_to "Delete this booking", booking, method: :delete %></td>
    </tr>
    </div>

  <% end %>
      </div>
<div data-toggle-target="togglefutureElement" class="d-none">
 <tr>
        <th>Listing</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
  <% @future_bookings.each do |booking| %>
  <div class= "card-listing">
    <tr>
      <td><%= booking.listing.title %></td>
      <td><%= booking.start_date %></td>
      <td><%= booking.end_date %></td>
      <td><%= link_to "Edit Booking", edit_booking_path(booking) %></td>
      <td><%= button_to "Delete this booking", booking, method: :delete %></td>
    </tr>
    </div>
  <% end %>
  </div>
  </div>
<% else %>
  <p>You haven't made any bookings yet.</p>
<% end %>
</div>
<%= link_to "Edit Your Account", edit_registration_path(@user) %>
