<div class="container">
  <div>
    <h2>My Bookings</h1>
    <p><%= @user.email %></p>
  </div>
</div>

<p>Welcome <%= @user.email %></p>

<% current_user.received_bookings.each do |booking| %>
<% if booking.status == "pending" %>
<%= booking.start_date %>
<%= booking.end_date %>
<%= link_to "Accept", accept_path(booking), data: {turbo_method: :patch} %>
<%= link_to "Reject", reject_path(booking), data: {turbo_method: :patch} %>
<% end %>
<% end %>

<div data-controller="toggle">
  <% if @past_bookings.any? || @future_bookings.any? %>
  <div class="container">
    <button data-action="click->toggle#fire" class="btn btn-ghost">Past bookings</button>
    <button data-action="click->toggle#future" class="btn btn-ghost">Upcoming bookings</button>
  </div>

  <div class="card-grid">
    <div class="container">

      <div data-toggle-target="togglableElement" class="d-none">
        <% @past_bookings.each do |booking| %>
          <div class="card-product">
            <% if booking.listing.user.photo.attached? %>
              <%= cl_image_tag booking.listing.user.photo.key,  style: "object-fit: cover" %>
            <% end %>
            <tr>
              <div class="card-product-infos">
                <h2><td><%= booking.listing.title %></td></h2>
                <p><td><%= booking.start_date %></td></p>
                <p><td><%= booking.end_date %></td></p>
                <%= link_to edit_booking_path(booking) do %>
                  <i class="fa-regular fa-pen-to-square" style="color: #186678;"></i>
                <% end %>
                <%# <td><%= link_to "Edit Booking", edit_booking_path(booking)</td> %>
                <td><%= button_to "Delete this booking", booking, method: :delete %></td>
                <i class="fa-solid fa-trash-can" style="color: #186678;"></i>
              </div>
            </tr>
          </div>
        <% end %>
      </div>
    </div>

      <div class="container">
        <div data-toggle-target="togglefutureElement" class="d-none">
          <% @future_bookings.each do |booking| %>
            <div class="card-product">
              <% if booking.listing.user.photo.attached? %>
                <%= cl_image_tag booking.listing.user.photo.key,  style: "object-fit: cover" %>
              <% end %>
              <div class= "card-product-infos">
                <tr>
                  <h2><td><%= booking.listing.title %></td></h2>
                  <p><td><%= booking.start_date %></td></p>
                  <p><td><%= booking.end_date %></td></p>
                  <%= link_to edit_booking_path(booking) do %>
                    <i class="fa-regular fa-pen-to-square" style="color: #186678;"></i>
                  <% end %>
                  <%# <td><%= link_to "Edit Booking", edit_booking_path(booking)</td> %>
                  <%# <%= link_to booking(booking), method: :delete %>
                  <%# <i class="fa-solid fa-trash-can" style="color: #186678;"></i> %>
                  <td><%= button_to "Delete this booking", booking, method: :delete %></td>
                  <i class="fa-regular fa-trash-can"></i>
                </tr>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>

<% else %>
  <p>You haven't made any bookings yet.</p>
<% end %>
</div>

<%# <%= link_to "Edit Your Account", edit_registration_path(@user) %>
